h1 {
font-family: Arial;
font-size: 3em;
text-align: center;
text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
body {
/* Helvetica is not free superuser.com/q/94992 */
background-color: #C0A154;
background-image: url(/img/background.png);
font-family: Verdana,Arial;
}
p {
line-height: 1.4em;
}
ul {
margin: 1em;
}
blockquote {
background: #e8e8e8;
border: 1px solid #ccc;
border-radius: 0.5em;
color: #4f4f4f;
font-style: italic;
margin: 0;
padding: 0.5em 2em;
}
code, pre {
/* If you use "em" the fonts will be different sizes */
font: 15px/1.4 Lucida Console;
white-space: pre-wrap;
}
code, pre, table {
background: white;
border: 1px solid #ccc;
border-radius: 3px;
padding: 3px 3px 2px;
}
pre code, table code {
/* In these blocks pre
is already padded */
border: 0;
padding: 0;
}
[alt=width2] {
width: 98%;
}
[alt=width1] {
width: 58%;
}
img {
background: white;
border: 1px solid #ccc;
border-radius: 0.5em;
display: block;
margin: auto;
padding: 0.5em;
}
h2 {
/* top margin was messing
up #container padding */
font-size: 2em;
margin: 0;
}
h1 a { color: white; }
a:hover { text-decoration: underline; }
a, h1 a:hover { text-decoration: none; }
#container {
background: url(/img/background.png);
margin: auto;
padding: 1em;
width: 50em;
}